<!-- <app-dashboard-header></app-dashboard-header> -->
<div *ngIf="dashboard" class="header" [ngClass]="dashboard.Role | lowercase" fxLayout="{{ layout }}"
  fxLayoutGap="{{ layoutGap }}" fxLayoutAlign="{{ layoutAlign }}" fxFlexFill>
  <!-- Avatar -->
  <div class="db-avatar-container" fxFlex.sm="25%" fxFlex="1 1 10%">
    <mat-card>
      <div class="db-avatar">
        <img *ngIf="dashboard.AvatarUrl" mat-card-image [src]="'../../../../assets/images/' + dashboard.AvatarUrl">
      </div>
        <mat-divider></mat-divider>
        <mat-card-header fxLayoutAlign="center">
        <mat-card-title> 
          <span class="db-profile-span">
              {{ dashboard.Role }}
          </span>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <!-- Actor Profile -->
  <div class="db-profile-container" fxLayoutAlign="stretch" fxFlex.sm="75%" fxFlex="1 1 33%">
    <mat-list fxFlex>
      <mat-list-item>
        <h2> {{ dashboard.Name }} </h2>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <p>
          <span class="db-profile-span">Name:</span> {{ dashboard.Name }}
        </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <p>
          <span class="db-profile-span">Address:</span> {{ dashboard.Address.address }}
        </p>
      </mat-list-item>
    </mat-list>
  </div>

  <!-- Ops -->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Age">
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>
</div> <!-- ./app-dashboard-header -->

<div *ngIf="dashboard" class="ops" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-evenly center">
  <mat-accordion fxFlexFill>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title fxLayoutAlign="end">
          Personal data
        </mat-panel-title>
        <mat-panel-description fxLayoutAlign="start">
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-divider></mat-divider>

      <mat-tab-group fxLayoutAlign="center end">
        <mat-tab label="First"></mat-tab>
        <mat-tab label="Second"> </mat-tab>
        <mat-tab label="Third"> </mat-tab>
      </mat-tab-group>

      <!-- <mat-form-field>
            <input matInput placeholder="First name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Age">
          </mat-form-field> -->
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="ops" fxLayout="row" fxLayoutAlign="space-evenly center">
  <mat-tab-group>
    <mat-tab label="First"></mat-tab>
    <mat-tab label="Second"></mat-tab>
    <mat-tab label="Third"></mat-tab>
  </mat-tab-group>
</div>