@import '../../../../variables';

.header {
    padding: 25px;
    // background-color: #fff;;
    background-color: #29303A;;
  }

  // .header.company {
  //   background-color: $primary-dark;
  // }

  // .header.client {
  //   background-color: #FAB025;
  // }

  // .header.regulator {
  //     background-color: $warn;
  // }

  // .header.consultant {
  //   background-color: $success;
  // }

  h2 {
    // color: $secondary;
  }

  .db-profile-role-header{
    margin-top: -10px;
    color: #fff;
    font-weight: normal;
  }

  .db-profile-container {
    background: #29303A;
    // background: #fff;
    border-radius: 5px;
  }
  
  .db-profile-container > h2 {
    margin-block-start: auto;
  }

  .db-avatar {
    padding: 20px 20px 0px 20px;
    background-color: #fff;
    border-radius: 5px;
  }

  .db-profile-span {
      color: $primary-light;
  }

  .db-profile-container-content {
    border-radius: 5px;
    background: #fff;
  }

  // .db-profile-paragraph {
  //   color: #fff;
  // }

  .db-ops-menu {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  }

  .db-option {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
  }

  .db-option.active {
    color: $primary-light;
    border-bottom: 3px solid $primary-dark;
    border-radius: 0;
  }

  .db-option:hover:not(.active) {
    border: none;
    color: $primary-light;
    transition: .5s;
}

  .mat-card {
    padding: 0px;
  }

  .mat-list-base {
    padding-top: 0px
  }

  mat-card-title {
      margin-top: 10px;
  }

  // mat-list {
  //   background-color: #29303A;
  // }

  // mat-list > mat-list-item > div > p {
  //   color: #fff;
  // }

  // mat-list > mat-list-item:first-child {
  //   border-radius: 4px 4px 0px 0px;
  // }

  // mat-list > mat-list-item.company:first-child{ 
  //   background-color: $primary-light;
  // }

  // mat-list > mat-list-item.client:first-child{ 
  //   background-color: #FAB025;
  // }

  // mat-list > mat-list-item.regulator:first-child{ 
  //   background-color: $warn;
  // }

  // mat-list > mat-list-item.consultant:first-child{ 
  //   background-color: $success;
  // }