<!-- <app-dashboard-header></app-dashboard-header> -->
<div *ngIf="dashboard" class="header" [ngClass]="dashboard.Role | lowercase" fxLayout="{{ layout }} wrap"
  fxLayoutGap="{{ layoutGap }}" fxLayoutAlign="{{ layoutAlign }}" fxFlexFill>

  <div class="db-profile-container-content" fxLayout="column" fxLayoutAlign="center" fxFlex="100%">
  </div>

  <h1 class="db-profile-role-header" fxLayoutAlign="center" fxFlex="100">{{ dashboard.Role }}</h1>
  <h3 class="db-profile-role-header" fxLayoutAlign="center" fxFlex="100">({{ dashboard.Role | role }})</h3>

  <!-- Avatar -->
  <div class="db-avatar-container" fxFlex.sm="20%" fxFlex="1 1 25%">
    <mat-card>
      <div class="db-avatar">
        <img *ngIf="dashboard.AvatarUrl" mat-card-image [style.margin-bottom]='0' [src]="'../../../../assets/images/' + dashboard.AvatarUrl">
      </div>
      <mat-card-header fxLayoutAlign="center">
        <mat-divider></mat-divider>
          <mat-card-title>
            <span class="db-profile-span">{{ dashboard.Name }}</span>
          </mat-card-title>
        </mat-card-header>
    </mat-card>
  </div>
  <!-- Actor Profile -->
  <div class="db-profile-container" fxLayoutAlign="space-evenly" fxFlex="1 1 40%">
    <div class="db-profile-container-content" fxFlex>
        <ng-content select="profile-content"></ng-content>
    </div>
  </div>
 
  <!-- Ops -->
  <!-- <mat-accordion class="db-options" fxFlex.sm="20%" fxFlex="1 1 20%">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Age">
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion> -->
</div> <!-- ./app-dashboard-header -->

<!-- <app-dashboard-ops></app-dashboard-ops> -->
<div fxShow fxHide.gt-sm *ngIf="dashboard" class="ops" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-evenly center">
  <mat-accordion fxFlexFill>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-description>
          {{ selectedOption | uppertitlecase }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="space-evenly center">
        <mat-divider fxFlexFill></mat-divider>
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlexFill>
            <button 
              mat-button 
              *ngFor="let option of options" 
              class="db-option" 
              [class.active]="selectedOption === option.key" 
              [routerLink]="['/' + dashboard.Role.toLowerCase(), option.key]" 
              (click)="updateOption(option.key)">{{ option.key | uppertitlecase }}</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="db-ops-menu" fxShow fxHide.lt-md fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="space-evenly center">
  <div fxFlex></div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlexFill>
    <!-- This could be a component -->
    <button 
      mat-button 
      *ngFor="let option of options" 
      class="db-option" 
      [class.active]="selectedOption === option.key" 
      [routerLink]="['/' + dashboard.Role.toLowerCase(), option.key]" 
      (click)="updateOption(option.key)">{{ option.key | uppertitlecase }}</button>  
    </div>
  <div fxFlex></div>
</div> <!-- ./ <app-dashboard-ops></app-dashboard-ops> -->

<div class="db-content-container" fxLayout="row" >
  <app-dashboard-content [selected-option]="selectedOption" fxFlex>
    <ng-content class="dashboard-content" select=".dashboard-content"></ng-content>
  </app-dashboard-content>
</div>