@import '../../../../variables';

.header {
    padding: 25px;
    background-color: #29303A;;
  }

  // .header.company {
  //   background-color: $primary-dark;
  // }

  // .header.client {
  //   background-color: #FAB025;
  // }

  // .header.regulator {
  //     background-color: $warn;
  // }

  // .header.consultant {
  //   background-color: $success;
  // }

  h2 {
    // color: $secondary;
  }

  .db-profile-container {
    background: #fff;
    border-radius: 5px;
  }
  
  .db-profile-container > h2 {
    margin-block-start: auto;
  }

  .db-avatar {
    padding: 10px 10px 0px 10px;
    background-color: #fff;
    border-radius: 5px;
  }

  .mat-card {
    padding-bottom: 0px;
  }

  .db-profile-span {
      color: $primary;
      font-weight: bold;
  }

  .mat-list-base {
    padding-top: 0px
  }
  
  mat-card-title {
      margin-top: 10px;
  }

  mat-list > mat-list-item:first-child {
    background-color: #333;
    border-radius: 4px 4px 0px 0px;
    color: #fff;
  }

  mat-list > mat-list-item.company:first-child{ 
    background-color: $primary-light;
  }

  mat-list > mat-list-item.client:first-child{ 
    background-color: #FAB025;
  }

  mat-list > mat-list-item.regulator:first-child{ 
    background-color: $warn;
  }

  mat-list > mat-list-item.consultant:first-child{ 
    background-color: $success;
  }