/* Import _variables.css to the component's sass file where you want to use it. */
@import "../../../../variables";

.filter-section {
  // padding: 15px;
  // border-radius: 5px;
  // border: 2px solid $primary-dark;
  // background-color: #fff;
}

.example-card {
    /* max-width: 250px; */
    /* min-width: 225px; */
    // width: 150px;
    border: 1px solid $warn;
    border-radius: 0px;
    margin-left: -1px;
  }
  
  .example-card.primary {
    border: 1px solid $primary-dark;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .carousel-container {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid $primary-dark;
    // background-color: #fff;
  }  

  .carousel-container > .carousel-header {
    width: 100%;
    color: $primary-light;
    background-color: $primary-dark;
    border-radius: 5px;
  }
  
  app-slider {
    padding: 10px 10px 0px 10px;
    background-color: transparent;
    border-radius: 5px;
  }

  .selected-header {
    background-color: $warn;
  }
  .selected-header:hover {
    background-color: $warn-dark !important;
  }

  .mat-expansion-panel.mat-expanded,
  .mat-expansion-panel.mat-expanded:hover {
    background-color: $warn;
  }

  ::ng-deep .selected-header > .mat-content > .mat-expansion-panel-header-title  {
    color: #fff !important;
  }

  ::ng-deep .selected-header > .mat-expansion-indicator:after {
    color: white !important;
  }