<div class="container" fxLayout="row wrap">


  <div class="view-filter-section" fxFlex="100" fxLayoutAlign="space-between center">
    <h2>Market</h2>
    <mat-button-toggle-group name="fontStyle" value="consultants">
      <mat-button-toggle value="consultants" (click)="viewChange('consultants')">
        <mat-icon>person</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="contracts" (click)="viewChange('contracts')">
        <mat-icon>assignment</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <ng-container [ngSwitch]="viewMode">
    <!-- [ngSwitch]="viewMode"-->

    <ng-container *ngSwitchCase="'contracts'">
      <mat-accordion fxFlex="30">
          <mat-expansion-panel *ngFor="let contract of contracts">
            <mat-expansion-panel-header 
              
              [class.selected-header]="contractView === contract.Key" 
              (click)="filterContractView(contract.Key)">
              <mat-panel-title>
                {{ contract.Description }}
              </mat-panel-title>
            </mat-expansion-panel-header>
        
            <mat-divider></mat-divider>

            <div fxFlex="100">
                <mat-checkbox [checked]="true">Check me!</mat-checkbox>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div class="filter-section" fxFlex="100">
        <app-market-filter [categories]="assetCategories" (filtered)="onFilter($event)"></app-market-filter>
      </div>

      <zippy 
        *ngFor="let assetCategory of filteredAssetCategories" 
        [title]="assetCategory.Key | marketCategory"
        [icon]="assetCategory.Icon | marketIcon" 
        [assets]="assetCategory.Consultants" 
        [is-admin]="isAdmin" 
        fxFlex="100">
      </zippy>
    </ng-container>
  </ng-container>

</div>