/* Import _variables.css to the component's sass file where you want to use it. */
@import "../../variables";

/* #region sass functions */
@mixin container-align($padding) {
    height: 100%;
    padding: $padding;
}

@mixin toolbar-card($max-width) {
    max-width: $max-width;
    padding-top: 20px;
    padding-bottom: 0px;
}
/* #endregion */

/* #region global styles */
.active-route {
    color: #fff;
    font-weight: bold;
}

.primary-dark-bg {
  background-color: $primary-dark;
  color: #fff;
}

.success-bg {
    background-color: $success !important;
    color: #fff;
}
/* #endregion */

/* #region mat defaults (override) */
.mat-toolbar .mat-toolbar-row {
    margin-left: auto;
    margin-right: auto;
}

.mat-button-toggle-checked {
    background-color: $accent;
}

.toolbar-space {
    flex: 1 1 auto;
}
/* #endregion */ 

/* #region toolbar tech (top) */ 
.mat-toolbar.mat-toolbar-tech {
    @include container-align(0px 50px);
}

.mat-toolbar-tech .mat-chip-list  {
    margin: 5px;
}
/* #endregion */

/* #region toolbar nav (bottom) */ 
.mat-toolbar.mat-toolbar-nav {
    @include container-align(10px);
}

.mat-toolbar .mat-toolbar-row.nav-row {
    padding: 0px 100px;
    width: 100%;    
    flex: 1 1 auto;
}

.mat-toolbar-nav .mat-toolbar-row .toolbar-logo {
    @include toolbar-card(115px);
}

.mat-toolbar-nav .mat-toolbar-row .toolbar-logo img {
    // width: 100%;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: -5px;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}
/* #endregion */

