<style>
  .header {
    background-color: #333;
    padding: 25px;
  }

  h2 {
    color: #fff;
  }

  .db-profile-container>h2 {
    margin-block-start: auto;
  }

  .db-avatar {
    padding: 10px 10px 0px 10px;
    background-color: #fff;
    border-radius: 5px;
  }

  .mat-card {
    padding-bottom: 0px;
  }
</style>

<div fxLayout="row" fxLayoutGap="25px" class="header" fxFlexFill>
  <div class="db-main" fxLayout="row" fxLayoutAlign="center start">
    <!-- Avatar -->
    <div class="db-avatar-container" fxFlex.sm="50%" fxFlex="1 1 40%">
      <mat-card>
        <div class="db-avatar">
          <img mat-card-image src="../../../../assets/images/apa-logo.png" alt="Photo of a Shiba Inu">
        </div>
      </mat-card>
    </div>
    <!-- Actor Profile -->
    <div class="db-profile-container" fxFlex.sm="33%" fxFlex="1 1 40%">
      <h2>Company</h2>
    </div>
    <!-- Filler Space  -->
    <div fxFlex.gt-md="1 1 20%"></div>
  </div>
</div>

<app-dashboard></app-dashboard>