<app-dashboard [dashboard]="dashboard" layout="row" layout-gap="25px" layout-align="center stretch" flex-fill="true">
    <ng-container [ngSwitch]="viewMode" class="dashboard-content">
      <app-market *ngSwitchCase="'market'" fxFlex></app-market>
      <div *ngSwitchCase="'CEC'">CEC</div>
      <div *ngSwitchCase="'IBP'">IBP</div>
      <app-company-consultants *ngSwitchCase="'consultants'" fxFlex></app-company-consultants>
      <div *ngSwitchCase="'transaction-history'">Transaction History</div>
      <div *ngSwitchDefault>Overview</div>
    </ng-container>
</app-dashboard>