/* Import _variables.css to the component's sass file where you want to use it. */
@import "../../../_variables.scss";

.example-card {
    /* max-width: 250px; */
    /* min-width: 225px; */
    width: 150px;
    border: 1px solid $warn;
    border-radius: 0px;
    margin-left: -1px;
  }
  
  .example-card.primary {
    border: 1px solid $primary-dark;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-form-field {
    font-size: 15px;
  }

  app-slider {
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
  }

  .carousel-container {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid $primary-dark;
    background-color: #fff;
  }