@import "../../../../variables";

.zippy {
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 15px;
    background: #fff;
}

.zippy::before {
    box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
    opacity: 1;
}

.zippy:hover {
    box-shadow: 0 0 3px 3px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
    opacity: 1;
}

.zippy-heading {
    color: #686F7A;
    padding: 10px 20px;
    cursor: pointer;
}

.zippy-body {
    padding: 20px;
}

.expanded {
    color: $accent-dark;
    background-color: #f0f0f0;
}

.glyphicon {
    float: right;
}

/* Asset CSS */

.asset-container {
    background: #333;
    padding: 2% 2% 0 2%;
    border-radius: 5px;
}

.asset-icon-container {
    top: 5px;
    right: 10px;
    position: absolute;
    color: $edit;
    padding: 2px 2px 0px;
    background: #333;
    opacity: .9;
    border-radius: 5px
}

.img {
    width: 100%;
    margin-bottom: 18%;
  }
  .card-picture {
    width: 27%;
    max-width: 250px;
    margin-bottom: 2%;
  }
  .container {
    min-height: 100%;
    width: 100%;
  }
  .search-form {
    // width: 90%;
  }

button {
    height: 100%;
    margin-top: 9px;
    margin-left: 10px
}