@import "../../../../variables";

.zippy {
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 15px;
    background: #fff;
}

.zippy::before {
    box-shadow: 0 0 1px 1px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
    opacity: 1;
}

.zippy:hover {
    box-shadow: 0 0 3px 3px rgba(20,23,28,0.1), 0 3px 1px 0 rgba(20,23,28,0.1);
    opacity: 1;
}

.zippy-heading {
    color: #686F7A;
    padding: 10px 20px;
    cursor: pointer;
}

.zippy-body {
    padding: 20px;
}

.expanded {
    color: $accent-dark;
    background-color: #f0f0f0;
}

.glyphicon {
    float: right;
}