/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet';
@import 'variables';

body { 
    /* background-image: url(assets/images/bg-logo-rice.png); */
    /* background-repeat: repeat; */
    /* background-size: initial; */
    background-color: #f7f6f3; /* $app-white */
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
 }

.mat-tab-body-content {
    padding-top: 20px;
}

a {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1280px;
    width: 75%;
}

.form-control:focus {
    border-color: $primary-light;
    box-shadow: 0 0 0 0.1rem $primary-light;
}
  
/* Material Styling */
mat-icon {
    cursor: pointer;
}

mat-card-header,
mat-card-subtitle {
    justify-content: center;
    display: flex !important;
}

.mat-card-subtitle{
    color: #fff !important;
}