@import "~@angular/material/_theming";

@include mat-core();

$app-primary: mat-palette($mat-light-blue, 800);
$app-accent: mat-palette($mat-deep-purple, 700);
$app-warn: mat-palette($mat-red, 500, A100, A700);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);