/* Import _variables.css to the component's sass file where you want to use it. */
@import "../../../variables";

.slider-container {
    border: 2px solid $warn;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .slides {
    overflow-x: auto;
    // This is not supported by all browsers. If you want a different animation, please feel free
    // to find your own solution.
    scroll-behavior: smooth;
    max-width: 200px;
    
    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
        display: none;
    }
  
  }

  .slide-navigation{
    position: absolute;
    margin-top: 235px;
    margin-left: -165px;
  }

  .slide-navigation > button {
    background-color: transparent;
  }