/* Import _variables.css to the component's sass file where you want to use it. */
@import "../../../../../variables";

.primary-light-bg {
  background-color: $primary-light;
  color: #fff;
}

.primary-dark-bg {
    background-color: $primary-dark;
    color: #fff;
  }

  .accent-dark-bg{
    background-color: $accent-dark;
    color: #fff;
  }

.gradient-blue-bg {
    background: rgba(0,112,173, 1);
    background: linear-gradient(to bottom, rgba(0,112,173, 1) 0%, rgba(0,33,51, 1) 100%);    
    background: -webkit-linear-gradient(top, rgba(0,112,173, 1) 0%, rgba(0,33,51, 1) 100%);
    background: linear-gradient(to bottom, rgba(0,112,173, 1) 0%, rgba(0,33,51, 1) 100%);
    position: relative;
    color: #fff;
    text-align: center;
}

.gradient-red-bg{
    background: rgb(255, 86, 65);
    background: -moz-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(102,34,26, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(102,34,26, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 86, 65, 1) 0%, rgba(102,34,26, 1) 100%);
    position: relative;
    color: #fff;
    text-align: center;
}

.gradient-green-bg{
  background: rgb(96,199,96);
  background: -moz-linear-gradient(top, rgba(96,199,96,1) 0%, rgba(28,59,28,1) 100%);
  background: -webkit-linear-gradient(top, rgba(96,199,96,1) 0%,rgba(28,59,28,1) 100%);
  background: linear-gradient(to bottom, rgba(96,199,96,1) 0%,rgba(28,59,28 ,1) 100%);
  position: relative;
  color: #fff;
  text-align: center;
}

.gradient-yellow-bg{
  background: rgb(252, 190, 27);
  background: -moz-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
  background: -webkit-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
  background: linear-gradient(to bottom, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
  position: relative;
  color: #fff;
  text-align: center;
}

.box-blue.mat-line:hover{
  color: rgba(0,112,173, 1);
  transition: all .5s;
  cursor: pointer;
}

.box-yellow.mat-line:hover{
  color: rgb(252, 190, 27);
  transition: all .5s;
  cursor: pointer;
}

.box-green.mat-line:hover{
  color: rgba(96,199,96, 1);
  transition: all .5s;
  cursor: pointer;
}

.box-red.mat-line:hover{
  color: rgba(255, 86, 65, 1);
  transition: all .5s;
  cursor: pointer;
}

.mat-card-content {
  border: 5px solid #fff;
  padding: 10px 5px;
}

.mat-list-icon,
.mat-list-item {
  color: #fff;
} 